body {
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}

.container {


}

.navigation {
	background-color: #27312a;
	color: #fefefe;
	padding: 12px 50px 66px 50px;

}

.navigation .red_header {
	color: #c96118
}

.navigation .green_header {
	color: #0fae58;
}

.navigation .top_line{
	padding: 20px;

}

.navigation .top_line .logo {
	display: block;
	margin-left: 35px;
	background-image: url(/img/logo.png);
	width: 133px;
	height: 39px;
	background-repeat: no-repeat;
	float: left;
}

.top_line .top_line_buttons {
	float: right;
	line-height: 50px;
}

.top_line_buttons .coupon_btn {
	cursor: pointer;
	width: 180px;
	height: 50px;
	border-radius: 3px;
	border: 1px solid #e46915;
	color: #e46915;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.top_line_buttons .menu-closer {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	padding: 0px 10px 0px 10px;
	height: 1.5rem;
	width: 1.5rem;
}
.menu-closer::before{
	background: white;
	content: '';
	display: block;
	height: .15rem;
	width: 1.5rem;
	transform: translateY(0.6rem) rotate(45deg);
}

.menu-closer::after {
	background: white;
	content: '';
	display: block;
	height: .15rem;
	width: 1.5rem;
	transform: translateY(0.5rem) rotate(-45deg);
}